@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500&display=swap');

:root {
  --clr-gray100: #f5f5f5;
  /* same as inverted imgs */
  --clr-gray200: #737373;
  --clr-gray500: #383939;

  --sidebar-width: 90px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

input,
button,
span {
  font: inherit;
}

body {
  color: var(--clr-gray);
  font-family: 'Noto Sans JP', sans-serif;
  background-color: #E5D6C8;
}

ul {
  list-style: none;
}

li {
  cursor: pointer;
}

.app-container {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tooltip {
  z-index: 1000;
  display: none;
  position: absolute;
  background-color: #9a9999;
  font-size: 10px;
  color: #fff;
  padding: 1.5px 3px;
  border-radius: 3px;
}

.tooltip-trigger {
  position: relative;
  display: inline-block;
}

#canvas {
  background-color: transparent;
}

#sidebar {
  /* width: var(--sidebar-width); */
  /* width: 12vw; */
  width: 90px;
  height: 100%;
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  transition: left 0.3s ease-in-out;
  background-color: rgba(245, 245, 245);
  box-shadow: 0px 7px 14px rgba(0, 0, 0, .08),
    0px 0px 3.12708px rgba(0, 0, 0, .0798),
    0px 0px .931014px rgba(0, 0, 0, .1702);
}

#sidebar .title {
  color: var(--clr-gray200);
  font-size: 0.7rem;
  margin-top: -10px;
  margin-bottom: 5px;
}

#toggle-sidebar {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 50%;
  left: var(--sidebar-width);
  padding: 3px 2px 3px 1px;
  background-color: rgba(245, 245, 245);
}

#toggle-sidebar img#sidebar-icon {
  filter: invert(55%);
  width: 25px;
  height: 25px;
  cursor: pointer;
  transition: transform 0.6s ease-in-out;
  transform: rotate(180deg);
}

.sidebar-wrapper {
  height: inherit;
  padding: 10px;
  display: flex;
  gap: 3%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow-y: auto;
}

#tool-options,
#line-width-options {
  width: 100%;
  /* height: 100%; */
  align-self: flex-start;
  display: flex;
  justify-content: center;
  /* border: 2px solid green; */
}

#tool-options li {
  padding: 4px 5px 0 5px;
}

#tool-options li img {
  width: 18px;
  height: 18px;
  filter: invert(45%);
}

#tool-options li,
#line-width-options li {
  border-top: 3px solid #f9f7f7;
  border-left: 3px solid #f9f7f7;
  border-right: 2px solid #cecece;
  border-bottom: 1px solid #cecece;
  background-color: #e0e1e1;
  box-shadow: 0px 7px 14px rgba(0, 0, 0, .08),
    0px 0px 3.12708px rgba(0, 0, 0, .0798),
    0px 0px .931014px rgba(0, 0, 0, .1702);
}

#tool-options .tool:is(.active),
#line-width-options .width:is(.selected) {
  border-top: 3px solid #abaaaa;
  border-left: 3px solid #abaaaa;
  border-right: 2px solid #f9f7f7;
  border-bottom: 1px solid #f9f7f7;
  background-image: url("./assets/activebg.jpeg");
  background-size: cover;
}

#tool-options .tool:is(.active) img,
#line-width-options .width:is(.selected) img {
  filter: invert(35%);
}

#line-width-options li {
  padding: 2px 10px 0 10px;
}

#line-width-options li img {
  width: 40px;
  height: 25px;
  filter: invert(45%);
  transform: rotate(45deg);
}





#color-options .color {
  height: 22px;
  width: 22px;
  border-radius: 50%;
  position: relative;
}

#color-options #s-color-picker {
  opacity: 0;
  position: relative;
}

#color-options .color:nth-child(1) {
  background: radial-gradient(at center, rgb(245, 247, 245), rgb(78, 127, 169));
}

#color-options .color:nth-child(2) {
  background-color: #232222;
}

#color-options .color:nth-child(3) {
  background-color: #be3636;
}

#color-options .color:nth-child(4) {
  background-color: #468305;
}

#color-options .color:nth-child(5) {
  background-color: #4163ca;
}

#color-options .color:nth-child(6) {
  background-color: #7727b8;
}

#color-options .color:nth-child(7) {
  background-color: #ee9ed1;
}

#color-options .color:nth-child(8) {
  background-color: #e78787;
}

#color-options .color.selected {
  border: 1.5px solid #fff;
}

#color-options .color.selected::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  height: 4px;
  width: 4px;
  background-color: #fff;
  border-radius: inherit;
  border: 1px solid #fff;
  transform: translate(-50%, -50%);
}

#color-options .color:first-child.selected::before {
  border-color: #fff;
}

.btn-wrapper button {
  cursor: pointer;
  /* color: #fff; */
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  background-color: orange;
  /* background-color: var(--clr-gray); */
  box-shadow: 0px 7px 14px rgba(0, 0, 0, .08),
    0px 0px 3.12708px rgba(0, 0, 0, .0798),
    0px 0px .931014px rgba(0, 0, 0, .1702);
}